@model IEnumerable<MovieExpert_Proiect.Models.Review>

@{
    ViewData["Title"] = "Recenzii";
}

<h1>Toate Recenziile</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adaugă Recenzie Nouă</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Film
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Movie.Title)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <span class="badge bg-info text-dark">@Html.DisplayFor(modelItem => item.Rating) / 10</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>